div.wrapper
  h1 Bouncing balls simulation
  div
    table.parameters
      tbody
        tr
          td.buttons(colspan="3")
            button#resetButton Reset
            button#startButton Start
            button#stopButton Stop
          td.label Number of balls
          td.slider: div#nBallsSlider
          td.value#nBallsValue
          td.label Gravity
          td.slider
            div#gravitySlider
          td.value#gravityValue
        tr
          td.label Width
          td.slider: div#widthSlider
          td.value#widthValue
          td.label Ball size
          td.slider
            div#ballSizeSlider
          td.value#ballSizeValue
          td.label Elasticity
          td.slider: div#elasticitySlider
          td.value#elasticityValue
        tr.spacer
        tr
          td.label Height
          td.slider
            div#heightSlider
          td.value#heightValue
          td.label Initial speed
          td.slider
            div#initialSpeedSlider
          td.value#initialSpeedValue
          td.label Air resistance
          td.slider: div#resistanceSlider
          td.value#resistanceValue

  canvas#canvas(width=640,height=480)
